<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="Devel_VM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="Devel_VM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v2.0.50727" sku="Client"/></startup>
    <userSettings>
        <Devel_VM.Properties.Settings>
            <setting name="User" serializeAs="String">
                <value />
            </setting>
            <setting name="vm_name" serializeAs="String">
                <value>Devel</value>
            </setting>
            <setting name="vm_multicore" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="web_dir" serializeAs="String">
                <value>C:\DEVEL</value>
            </setting>
            <setting name="node_dir" serializeAs="String">
                <value>C:\DEVEL\node\apps\</value>
            </setting>
            <setting name="node_devel_dir" serializeAs="String">
                <value>/export/www/DEVEL/node/apps/</value>
            </setting>
            <setting name="daemons_path_absolute" serializeAs="String">
                <value>C:\DEVEL\modules\daemons</value>
            </setting>
            <setting name="daemons_path_relative" serializeAs="String">
                <value>application\core\cron</value>
            </setting>
            <setting name="daemons_file_ext" serializeAs="String">
                <value>.conf</value>
            </setting>
            <setting name="daemons_devel_dir" serializeAs="String">
                <value>/export/www/DEVEL/</value>
            </setting>
        </Devel_VM.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Devel_VM.Properties.Settings>
            <setting name="path_imgver" serializeAs="String">
                <value>\\10.11.11.200\instale\Devel_beta\current_version.txt</value>
            </setting>
            <setting name="path_image" serializeAs="String">
                <value>\\10.11.11.200\instale\Devel\{vm_name}.ova</value>
            </setting>
            <setting name="update_uri" serializeAs="String">
                <value>http://00.info.pl/devel/ov.xml</value>
            </setting>
            <setting name="path_updater" serializeAs="String">
                <value>\\10.11.11.200\instale\Installer_Beta_Manager.exe</value>
            </setting>
            <setting name="path_updater_args" serializeAs="String">
                <value>/S</value>
            </setting>
            <setting name="serial_pipe" serializeAs="String">
                <value>BMTTY{0}</value>
            </setting>
        </Devel_VM.Properties.Settings>
    </applicationSettings>
</configuration>
